@charset "utf-8";


/*商品分类*/
.categroy-cnt { width: 76px; position: absolute; display: block; float: left; z-index: 1; top: 1.95rem; bottom: 50px; left: 0; overflow: hidden; background: #FFFFFF;}
/*分类一级导航*/
.categroy-list { padding: 0px; position: absolute;width: 76px;min-width: 76px; }
.category-item { width: 100%;  }
.category-item-a { display: block; }
.ci-fcategory-ico { width: 1rem; height: 1rem; padding: 0.45rem 0 0.25rem 0; margin: 0 auto; display: none;}
.ci-fcategory-ico img { display: block; vertical-align: top; width: 100%; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; opacity: 0.5; }
.ci-fcategory-name { font-size: 11px; line-height: 46px; color: #000000; text-align: center; width: 100%; height: 46px; border-bottom: solid 0.05rem #EEE; border-right: solid 0.05rem #EEE;}
.category-item.selected .ci-fcategory-ico img { -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); filter: gray; opacity: 1; }
.category-item.selected .ci-fcategory-name { color: #f23030; background: #f3f5f7; }
.categroy-third-list { display: none; color: #666; border-bottom: 1px solid #ccc; box-shadow: 0 -2px 0 #e4e4e4 inset;/*border-top:2px solid #e4e4e4;*/ background: #f5f5f5; }
.categroy-third-list li { border-bottom: 1px solid #dddddd; }
.categroy-third-list a { color: #6d6d6d; display: block; padding: 15px 0px 15px 11px; }

/* 分类子级内容 */
.categroy-rgt { background-color: #FFFFFF;  position: absolute; z-index: 1; left: 76px; top: 1.95rem;bottom: 50px; right: 0; overflow: hidden;margin: 0.3rem;}

/* 品牌推荐 */
.brands-recommend { font-size: 0; margin:5px;}
.brands-recommend dd {border-bottom: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5; background-color: #FFF; vertical-align: top; display: inline-block; width: 33%; text-align:center; }
.brands-recommend dd a { display: block;}
.brands-recommend dd img { width: 55px; margin: 0.5rem 0; }
.brands-recommend dd a { color: #333; }
.brands-recommend dd p { font-size: 0.6rem; line-height: 1rem; white-space: nowrap; text-overflow: ellipsis; text-align: center; overflow: hidden;}

/* 二三级分类 */
.categroy-child-list { font-size: 0; width: 98%;margin: 0 auto; background-color: #FFF;}
.categroy-child-list dt { background-color: #f3f5f7;  text-align: center;}
.categroy-child-list dt a { display: block; height: 1.48rem; padding: 0 0 0 1%; font-size: 0.6rem; line-height: 1.48rem; color: #111;}

.categroy-child-list dd { background-color: #FFF; vertical-align: top; display: inline-block; width: 33.3333333%;text-align:center; }
.categroy-child-list dd a { display: block;}
.categroy-child-list dd img { width: 55px;height:55px; margin: 0.5rem 0; }
.categroy-child-list dd a { color: #333; }
.categroy-child-list dd p { font-size: 0.6rem; line-height: 1rem; white-space: nowrap; text-overflow: ellipsis; text-align: center; overflow: hidden;}
.seelected{background:#f3f5f7;}

/*商品列表头部特征*/
.product-header .header-inp {}
.product-header .header-inp { margin: 0.275rem 3.8rem 0 2rem;}
.product-header .header-inp .search-input { width: 7.5rem; color: #333;}
.product-header .header-r a { padding: 0.5rem 0.6rem 0.5rem 0.2rem;}
.product-header .header-r a.categroy { width: 0.975rem; height: 1.575rem; padding: 0.2rem 0.5rem 0.2rem 0.3rem;}
.product-header .header-r a.categroy i { width: 100%; height: 1rem; background-image: url(../../images/stiore_categroy_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70%; opacity: 0.65;}
.product-header .header-r a.categroy p {display: block; font-size: 0.45rem; line-height: 0.575rem; text-align: center; color: #555; }