@charset "utf-8";
body{  font-family: Helvetica,Arial,"Microsoft YaHei","Segoe UI","Lucida Grande",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif; color:#555;}
.fcolor{ color:White;}
.round {
    padding:10px;
    border: 5px solid #dedede;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:4px;            /* W3C syntax */
}

.btn1{ background-color:#029acf; border:none; text-align:center;}
.btn1:hover{background-color:#02749c;}
.sp1{margin-left:12px; margin-top:10px; font-size:medium; line-height:36px;}
.sp2{margin-left:12px;font-size:large; color:Red;}
.wd1{ width:88px; line-height:13px;}
.imgwd{ width:60px; height:60px;}
.td1{ text-align:center; padding-left:70px; padding-right:70px;}
.td2{ padding-top:35px;}
.bk{ display:block;}
.md1{margin-top:20px;margin-right:auto;margin-left:auto;width:1200px;}

* {
    margin:0;
    padding:0;
    list-style-type:none;
}
a, img {
    border:0;
}

a {
    color:#333;
    text-decoration:none;
}
a:hover {
    color:#3366cc;
    text-decoration:underline;
}
/* demo */
.demo {
    width:686px;
    margin:40px auto;
    position:relative;
}
.demo h2 {
    font-size:16px;
    height:44px;
    color:#3366cc;
    margin-top:20px;
}
.demo dl dt {
    font-size:14px;
    color:#ff6600;
    margin-top:30px;
    font-weight:800;
}
.demo dl dt, .demo dl dd {
    line-height:22px;
}
/* tabbtn */
.tabbtn {
    height:30px;
    background:url(../images/tabbg.gif) repeat-x;
    /*border-left:solid 1px #ddd;
    border-right:solid 1px #ddd;*/
    border-bottom :solid 1px #ddd;
}
.tabbtn li {
    float:left;
    position:relative;
    margin:0 0 0 -1px;
    /*color: #157ab5;*/
    border-bottom:none;
}
.tabbtn li a {
    display:block;
    float:left;
    height:30px;
    line-height:30px;
    overflow:hidden;
    width:108px;
    text-align:center;
    font-size:12px;
    cursor:pointer;
    color:#157ab5;
}
.tabbtn li.current {
    border-left:solid 1px #d5d5d5;
    border-right:solid 1px #d5d5d5;
    border-top:solid 1px #c5c5c5;
    border-bottom:none;

}
.tabbtn li.current a {
    border-top:solid 1px #ddd;
    height:27px;
    line-height:27px;
    background:#fff;
    color:#555;
    font-weight:800;
}
/* tabcon */
.tabcon {
    border-width:0 1px 1px 1px;
    border-color:#ddd;
    border-style:solid;
    position:relative;/*必要元素*/
    height:580px;
    overflow:hidden;
}
.tabcon .subbox {
    position:absolute;/*必要元素*/
    left:0;
    top:0;
}
.tabcon .sublist {
    padding:5px 10px;
    height:570px;
}
/* leftcon */
#leftcon .subbox {
    width:9999em;
}
#leftcon .subbox .sublist {
    float:left;
    width:664px;
}
/* sublist */
.sublist {
    padding:10px;
}
.sublist li {
    height:28px;
    line-height:28px;
    font-size:12px;
}
.sublist li span {
    margin:0 5px 0 0;
    font-family:"宋体";
    font-size:12px;
    font-weight:400;
    color:#ddd;
}
.panel-center{margin: 0px auto;width:90%;}